.footer {
  width: 100%;
  height: 50px;
  background: #111827;
  color: #d1d5db;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 14px;
}
