.navbar {
  width: 100%;
  height: 60px;
  background: #111827;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-logo {
  font-size: 20px;
  font-weight: bold;
}

/* .navbar-links a {
  margin-left: 20px;
  color: #e5e7eb;
  text-decoration: none;
  font-weight: 500;
} */

.navbar-links {
  display:flex;
  gap:20px;
}

.navbar-links a{
  color: #e5e7eb;
  text-decoration: none;
  font-weight: 500;
}

.navbar-links a:hover {
  color: #60a5fa; 
}
