.register-page {
  min-height: 100vh;
  background: linear-gradient(135deg, #16a34a, #065f46);
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-card {
  background: white;
  width: 380px;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 35px rgba(0,0,0,0.25);
}

.register-card h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #065f46;
}

.register-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #bbf7d0;
}

.register-card button {
  width: 100%;
  padding: 12px;
  background: #16a34a;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}
